
/* distanziamento */

section{
  padding: 20px 0;
}

.pd-15{
  padding: 15px 0;
}

.mg-10{
  margin: 10px 0;
}

/* typo */

h2, h3, p{
  text-align: center;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 22px;
}

/* immagini */

.img-box{
  padding: 15px;
  text-align: center;
}

.img-box > img{
  max-height: 200px;
}

.img-box.small > img{
  max-height: 100px;
}

.img-box.small {
max-width: 200px;
margin: auto;
}
.img-box > img.first-row{
  max-height: 100px;
}


/* sfondi colorati */

.bg-grey{
  background-color: #f9f9f9
}

.bg-blue{
  background-color: #428BCA
}

/* mix */

.circle{
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 6px 0;
}
